/.vs/Monster Invasion/DesignTimeBuild/.dtbcache.v2
/.vs/Monster Invasion/v17/.futdcache.v1
/.idea/.idea.Monster Invasion/.idea/.gitignore
/.vs/Monster Invasion/v17/.suo
/.idea/.idea.Monster Invasion/.idea/encodings.xml
/.idea/.idea.Monster Invasion/.idea/indexLayout.xml
/.vs/ProjectEvaluation/monster invasion.metadata.v2
/.vs/ProjectEvaluation/monster invasion.projects.v2
/.idea/.idea.Monster Invasion/.idea/vcs.xml
